:root {
	/* reds */
	--darker-red: hsl(347, 94%, 51%);
	--dark-red: hsl(347, 95%, 60%);
	--red: hsl(347, 96%, 67%);
	--light-red: hsl(347, 97%, 76%);
	--lighter-red: hsl(347, 97%, 87%);

	/* blues */
	--darker-blue: hsl(230, 86%, 53%);
	--dark-blue: hsl(230, 93%, 62%);
	--blue: hsl(230, 95%, 70%);
	--light-blue: hsl(231, 95%, 78%);
	--lighter-blue: hsl(230, 97%, 88%);

	/* greys */
	--dark-grey: hsl(40, 20%, 67%);
	--grey:	hsl(40, 20%, 87%);
	--light-grey: hsl(40, 20%, 94%);

	/* black and white */
	--black: #111111;
	--white: #ffffff;
}
